*{
    margin: 0;
    padding:0;
  box-sizing: border-box;
}
body{
    font-family: 'Open Sans',sans-serif;
    background: #ddd;
}
li{
    list-style: none;
    display: flex;
}
a{
    text-decoration: none;
}
header, section {
  width: 100%;
    margin: 0 auto;
    background: #ddd;
}
.header-container{
    max-width: 100%;
    /*max-height: 640px;*/
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    background: #fbd5c8;
    flex-direction: column;

    /*padding: 20px 0px;*/
}
.header-container a{
    color: #394a5a;
    font-size: 15px;
    margin-right: 20px;
    padding: 5px 0px;
}
#menu-checkbox{
    display: none;
}

.header-container a:hover{
    border-bottom: 1px solid #394a5a;
}
ul{
    display: flex;
}
.main-menu li:last-child{
    padding-bottom: 10px;
}
nav{
    margin-top: 10px;
}

.logo svg{
    width: 80%;
    height:80%;
    margin-top: 15px;
    /*margin-left: 30px;*/
}
.logo {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    padding-top: 20px;
}

.menu{
    max-width: 9%;
    padding-right: 10px;
}

label[data-open='MENU']{
   align-items: center;
}

.header-slogan{
    display: flex;
    flex-direction: column;
    padding: 53px 0px 0px 0px;
}
.header-slogans {
    padding-bottom: 53px;

}
.header-slogans h2{
    color: #394a5a;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
}

.header-slogan h1{
    color: #394a5a;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
}
.round_phone{
	display:flex;
    max-width: 70%;
	width: 200px;
    height: 15px;

    margin-top: 40px;

    
}
.round_phone p{
		display:flex;
    font-size: 14px;
    color: #394a5a;
	 width: 200px;
    /*height: 15px;*/
	justify-content:center;
    font-weight: 600;
    letter-spacing: 2px;

}
.social{
    display: flex;
    max-width: 50%;
margin: 0 auto;
    flex-direction: row;
}

.social p {
    width: 30px;
    margin-right: 20px;
}
.social p:last-child {
    margin-right: 0px;
}
.social img{
	  display: flex;
    width: 100%;
}
.menu_contact p{
    color: #394a5a;
    margin:  3px 10px;
    font-size: 14px;
}
/*picture*/

.top-slide{
    display: flex;
    flex-direction: column;
}
.top-container{
	max-width:100%;
    display: flex;
	flex-direction:column;
}
.top-container img{
	width:100%;
    display: flex;
    height: auto;
}
.top-container h1{
	font-size:14px;
text-transform: uppercase;
	color: #394a5a;
	text-align: center;
    padding: 20px 0px;
}
.top-serves h3{
	font-size:14px;
text-transform: uppercase;
	color: #394a5a;
	text-align: center;
	padding: 20px 0px;
}
/*button*/
/*услуги*/
.specialize{

    margin: 0 auto;

}
.serves h3 {
    justify-content: center;
    display: flex;
    text-transform: uppercase;
    /*text-decoration: 1px solid #394a5a;*/
    color: #394a5a;
    padding-bottom: 30px;
	
}
.specialize-cards{
    /*display: grid;*/
    /*grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr  ;*/
    /*grid-template-rows: 1fr 1fr;*/
	padding: 0px 20px;
}
.specialize-cards .card:last-child{
    /*margin-bottom: 20px;*/
}
.card{
    /*max-width:100%;*/
    /*border: 1px solid #394a5a;*/
    /*padding: 15px;*/
    /*margin-bottom: 25px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
}
.top-cards{
display: flex;
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 0 auto;
    justify-content: center;
}

.card .bottom-card{
    background: #394a5a;
    display: flex;
    height: 60px;
    justify-content: center;
}
.bottom-card p{
    display: flex;
    width: 380px;
    margin: 0 auto;
}
.bottom-card p a{
    color: #fbd5c8;
    font-size: 14px;
    line-height: 54px;
   letter-spacing: 2px;
   margin: 0 auto;
    text-transform: uppercase;
}
.bottom-card p{
    background-image: linear-gradient(to right, #394a5a 50%, #fbd5c8 50%);
    background-size:200%;
    background-position: 0px center;
    transition: all 0.1s;
}
.bottom-card :hover {
    background:#fbd5c8;
    transition:  all 0.4s;
}
.bottom-card p a:hover{
    color: #394a5a;
}
    /*about*/
.about{
   display: flex;
    flex-direction: column;
}

.about_text {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    color: #394a5a;
    text-transform: uppercase;
	padding-bottom: 20px;
	padding-top: 30px;
}
.about_text > span {
    position: relative;
    display: inline-block;
}
.about_text > span:before,
.about_text > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    /* Here is the modification */
    border-top: 4px double #394a5a;
}

.about_text > span:before {
    right: 100%;
    margin-right: 15px;
}

.about_text> span:after {
    left: 100%;
    margin-left: 15px;

}
.about_text__p{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.about_text h2{
    text-transform: uppercase;
    margin-top: 10px;
}
.about_text__p p{

    color: #394a5a;
    /*letter-spacing: 5px;*/
font-size: 12px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    line-height:15px;
}
.about_text__p span{
    width:300px;
    margin: auto;
    border-bottom: dotted 2px #394B5A;
}
.about_picture{
    grid-column: 4/7;
    grid-row:2/3;
    padding: 60px 50px;
}
.about img{

}

/*slider client*/
.client, .about_task{
    background: #fbd5c8;
}

.slider
{ width:235px;
    position: relative;
    z-index:0;
    margin: 0 auto;
}
.slider .item
{
    width: 100%;
    opacity: 1.0;
    transition: opacity 0.0s linear 0.1s;
}

.slider img {
    display:block;
    height: auto;
    width: 100%;
}
.slider .item ~ .item
{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.0;
}

.slider input:nth-of-type(9):checked ~ .selector_list label:nth-of-type(9)
{
    color: #fff;
}

.slider input:nth-of-type(9):checked ~ .item:nth-of-type(9)
{
    opacity: 1.0;
    transition: opacity 0.1s linear;
    z-index: 6;
}

/*!* авторотация слайдов *!*/

@keyframes item-autoplay_count_9
{
    0%{opacity:1;}
    13% {opacity:0;}
    26% {opacity:0;}
    39% {opacity:0;}
    52% {opacity:0;}
    65% {opacity:0;}
    78% {opacity:0;}
    90%{opacity:0;}

    100%{opacity:1;}
}

.slider.slider_count_9 .item
{
    animation: item-autoplay_count_9 45s infinite;

}
.slider .item:nth-of-type(2) {

    animation-delay:5s;

}
.slider .item:nth-of-type(3) {
    animation-delay:10s;

}
.slider .item:nth-of-type(4){
    animation-delay:15s;

}
.slider .item:nth-of-type(5){
    animation-delay:20s;

}
.slider .item:nth-of-type(6){
    animation-delay:25s;

}
.slider .item:nth-of-type(7){
    animation-delay:30s;

}
.slider .item:nth-of-type(8){
    animation-delay:35s;

}
.slider .item:nth-of-type(9){
    animation-delay:40s;

}

/*text*/
.about_task{
display:flex;
flex-direction: column;

    padding: 30px 20px ;
}
.about_task__one{
display:flex;
flex-direction:column;
justify-content:center;
    border: 1px solid #394B5A;
    margin-bottom: 20px;
}
.about_task__one img{
display:flex;
width:50px;
margin:0 auto;
    padding-top: 20px;
    padding-bottom: 20px;

}
.about_task__one h2{

    color: #394B5A;
   font-size: 17px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-weight: 600;
    text-align: center;

}
.about_line span{
    border-bottom: 2px solid #394B5A;
    padding-bottom: 5px;

}

.about_task__one p{
    text-align: center;
    color: #394B5A;
    font-size: 14px;
    margin-bottom: 15px;
    text-transform: uppercase;

    line-height: 30px;
}
.contact_adress{
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    justify-content: space-around;

}
.contact_street{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact_phone p{
    color: #394B5A;
    font-size: 14px;
}
.contact_street p{
   text-align: center;
    color: #394B5A;
    font-size: 14px;
}
.contact_phone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
}
.contact_phone img{
    display: flex;
    /*width: 20px;*/
    height: 20px;
    padding-right: 10px;

}
.contact_adress span{
    width:250px;
    margin: 20px auto;
    border-bottom: dotted 2px #394B5A;
}
/*form*/



#form-main{
    display: flex;
    width:90%;
    /*float:left;*/
    margin: auto;



}

#form-div {

    background-color:rgba(72,72,72,0.4);
padding:10px;
    width: 100%;
}

.feedback-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:400;
    font-size: 14px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 18px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
    background: #fff;

    border: 3px solid #394B5A;
    color: #394B5A;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused{
    color:#394B5A;
    border:#394B5A solid 3px;
}

/* Icons ---------------------------------- */

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    background-color:white;
}

#button-blue{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float:left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: #394B5A;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;

}

#button-blue:hover{
    background-color: rgba(0,0,0,0);
    color: #fbd5c8;
}

.submit:hover {
    color: #394B5A;
}

.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.submit:hover .ease{
    width:100%;
    background-color:white;
}
.map{
display:flex;
   /*margin: 20px;*/
    width: 90%;
    margin: 15px auto;
}
.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #394B5A;
    color: #ffffff;
    font-size: 8px;

    justify-content: space-between;
}

.footer-title{
    display: flex;


    padding-bottom: 10px;

}
.footer-title ul{
 flex-direction: column;
    text-transform: uppercase;
    padding: 15px 0 0 20px;
}
.footer-title ul li{
    margin-bottom: 5px;
}

.footer-adress ul{
    flex-direction: column;
    justify-content: flex-end;


}

.footer-adress{

    font-size: 11px;
    flex-direction: column;
    padding: 20px 20px 20px 0px;

}
.footer-adress ul li {
    display: block;
    text-align:right;
    height: 20px;
    line-height:20px;
}
.footer-adress img{

line-height: 12px;
    /*width: 20px;*/
    height: 20px;
    padding-right: 10px;
    vertical-align: middle;

}
.topbutton {
    width:30px;
    height: 30px;
    display: block;
    border-radius:50%;
    border:2px solid #394B5A;
    background:#fbd5c8;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:20px;
    right:10px;
    cursor:pointer;
    color:#394B5A;
    font-family:verdana;
    font-size:20px;
    font-weight: 400;
}
.topbutton span{
   position: absolute;
    bottom: 0px;
    right: 7px;
}
.topbutton a{
    color: #394B5A;
}
.footer-info{
    display: flex;
    flex-direction: column;
    background: #394B5A;
   color: #fbd5c8;
    font-size: 11px;
    text-align: center;
    padding: 0 20px 20px 20px;
    line-height: 14px;
}
.footer-info span{
    width: 250px;
    margin: 10px auto;
    border-bottom: dotted 2px #fbd5c8;
}


@media screen and (max-width: 1024px){
    .header-container{
        /*width: 100%;*/
        /*display: flex;*/
        /*justify-content: space-around;*/
    }
label{
    display: none;
}
    .main-menu{
        width: 100%;
        display: block;
        font-size: 12px;
        /*display: none;*/
    }

    .main-menu a{
        display: block;
        padding: 8px;
      margin: 0 auto;

    }

    .toggle-button:after{
        content: attr(data-open);
        display: block;
        color: #394a5a;
      font-weight: 600;
    }
    #menu-checkbox:checked + nav[role="navigation"] .main-menu{
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after{
        content: attr(data-close);

    }
    .header-container a{
        /*margin-right: -65px;*/
    }
    .main-menu{
       display: flex;
        flex-direction: row;
       justify-content: center;
        padding-top: 30px;

    }
    .main-menu a{
        font-size: 11px;
    }
    .menu_contact{
        border-bottom: 1px solid #394a5a;
    }
    .first{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 150px 150px ;
        max-width: 100%;
    }
 .logo{
       grid-column: 1/2;
     grid-row: 1/3;
     padding: 0;
    }

 .social{
     margin: 27px auto;
 }
 .header-slogan {
     /*display: flex;*/
     /*flex-direction: column;*/




 }
 .header-slogan  h1{
     font-size: 16px;
     line-height: 36px;
     padding:30px 30px;
 }
 .header-slogans h2{

        font-size: 16px;
        line-height: 36px;
        padding:0px 50px;
 }
 .round_phone{
     grid-column: 2/3;
     grid-row: 2/3;

        margin: 42px auto 5px;


    }
 .round_phone p{
     display: block;
    width: 200px;
     height: 50px;
     padding: 17px 20px;
     text-align: center;
     border: 1px solid #394a5a;


 }

    .social_one h1{
        font-size: 10px;
        color: #fbd5c8;
        text-transform: uppercase;
        padding-top:5px;
        letter-spacing: 5px;
    }
    .social_one h2{
        display: none;
    }
    .specialize-container h3{
        margin: 0 auto;
        font-size: 16px;

    }
    .specialize-cards{
          display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        max-width: 100%;
        padding: 0px 20px;
      }
    .card{
      border: 1px solid #394B5A;
    }

    /*.topbutton {*/
        /*width:30px;*/
        /*height: 30px;*/
        /*display: block;*/
        /*border-radius:50%;*/
        /*border:2px solid #394B5A;*/
        /*background:#fbd5c8;*/
        /*text-align:center;*/
        /*padding:10px;*/
        /*position:fixed;*/
        /*bottom:20px;*/
        /*right:74px;*/
        /*cursor:pointer;*/
        /*color:#394B5A;*/
        /*font-family:verdana;*/
        /*font-size:20px;*/
        /*font-weight: 400;*/
    /*}*/
    /*.topbutton span{*/
        /*position: absolute;*/
        /*bottom: 0px;*/
        /*right: 7px;*/
    /*}*/
    /*.topbutton a{*/
        /*color: #394B5A;*/
    /*}*/
}
@media screen and (max-width: 767px) {
    .header-container {
        /*width: 100%;*/
        /*display: flex;*/
        /*justify-content: space-around;*/
    }

    label{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .main-menu{
        width: 100%;
        display: block;
        font-size: 12px;
        display: none;
    }
    .first{
        display: flex;
        flex-direction: column;
    }
    .logo {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0 auto;
        padding-top: 20px;
    }
    .header-slogan{
    display: flex;
    flex-direction: column;

}
    .round_phone{
        margin: 70px auto 5px;
    }
    .social {
        margin: 0px auto;
    }
    .header-slogans{
        padding-top: 30px;
    }
    .card{
        max-width:100%;
        border: 1px solid #394a5a;
        padding: 15px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
    }
    .specialize-cards{
        display: flex;
        flex-direction: column;
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

